@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), url("styles/ubuntumono.woff2") format('woff2');
}

body {
  background-color: black;
  color: rgb(0,255,0);
  font-family: 'Ubuntu Mono', monospace;
  font-size: 18px;
  padding: 0 10px;
}

input[type=text]{
  background-color: black;
  color: rgb(0,255,0);
  font-family: 'Ubuntu Mono', monospace;
  font-size: 18px;

}

input{
  outline: none;
  border:none;
  width: 90%;
  line-height: 40px;
  font-family: 'Ubuntu Mono', monospace;
}

.error {
  padding: 10px 0px;
}
.root{
  margin-top: 10px;
}